@page "/about"

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        background-image: linear-gradient(180deg, #0d0e0f 0%, #040505 70%);
        color: white;
        padding: 10px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    p {
        font-size: 18px;
        margin: 20px 0;
        text-indent: 20px; /* Agrega sangría */
        text-align: justify; /* Justifica el texto */
    }
</style>


<PageTitle>About</PageTitle>

<h1><img src="logo.jpg" alt="" class="rounded-circle img-fluid img-thumbnail" style="width: 60px;">
    <strong>Versión del Software: 3.0</strong>
</h1>
    <h2><strong>Desarrollador:</strong></h2>
    <div class="row">
        <div class="col text-center">
            <img src="me.jpg" alt="" class="rounded-circle img-fluid img-thumbnail" style="width: 180px;">
            <p class="text-center"><b>Marcos De Vargas Serrano</b></p>
        </div>
        <div class="col text-center">
            <img src="HorseMan.png" alt="" class="rounded-circle img-fluid img-thumbnail" style="width: 180px;">
            <p class="text-center"><b>Horse Man</b></p>
        </div>
        <div class="col text-center">
        </div>
    </div>

    <h2><strong>Descripción del Software:</strong></h2>

    <p>
        Este programa mejora apticamente el funcionamiento de esta Tienda. Los aspectos destacados 
        incluyen:
    </p>
    <ul>
        <li>Registro de Provedores</li>
        <li>Control de Clientes</li>
        <li>Gestión de Gastos <small><b>(Proxima actualización)</b></small></li>
        <li>Facturación de Ventas</li>
    </ul>
    <h2><strong>Información de Contacto:</strong></h2>
    <ul>
        <li>Número de Contacto: +1 (829) 870-7794</li>
        <li>Correo Electrónico: vargasmarcos646@gmail.com</li>
    </ul>
    <h2><strong>Créditos y Agradecimientos:</strong></h2>
    <p>
        En primer lugar, me gustaría agradecer al Lic. Félix Benzan y a la Lic. Jennifer Karina Disla Vasquez por 
        impartir sus conocimientos, ya que fueron de mucha ayuda. También a los demás colegas 
        que se ofrecieron a ayudar y, por último, pero no menos importante, le agradesco a ChatGPT, el 
        cual ayudó a solucionar muchos errores en el código, ya que sin la ayuda de todos los mencionados, 
        este proyecto no hubiese existido. 
    </p>
