@page "/test"
@using FactuSystem.Data.Request;
@using FactuSystem.Data.Response;
@using FactuSystem.Data.Services;

@inject IFacturaServices facturaServices;
@inject IPagoServices pagoServices;
@inject ICuadrarCajaServices cuadrarCajaServices;

<PageTitle>Inicio</PageTitle>

<style>
    /* Estilos CSS */
    .img-container {
        max-width: 100px; /* Ajusta el ancho máximo según tus necesidades */
        display: inline-block; /* Alinea las imágenes en línea */
    }

    .img-container img {
        width: 100%; /* Hace que la imagen ocupe el 100% del contenedor */
        height: auto; /* Mantiene la proporción de aspecto */
    }

    .oi {
        font-size: 1.2em;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .titulo {
        background-image: linear-gradient(180deg, rgb(0, 29, 82) 0%, rgb(0, 0, 0) 70%); /* Fondo oscuro */
        color: #ffffff; /* Texto blanco */
        padding: 10px; /* Añadir espacio alrededor del texto */
    }
</style>

<h3 class="mt-4 titulo">
    <span class="oi oi-dashboard oi mr-2"></span>
    <strong>FactuSystem Dashboard</strong> 
</h3>

<div class="container mt-4">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header bg-dark text-white">
                    <span class="oi oi-dollar oi mr-2"></span>
                    <strong>Cuadrar Caja</strong>
                </h5>
                <EditForm Model="request" OnValidSubmit="Send">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="nombreCompleto">Nombre del Cajero</label>
                            <input type="text" class="form-control" id="nombreCompleto" 
                                @bind-value="request.Cajero" 
                                required />
                        </div>
                        <div class="form-group">
                            <label for="nombreCompleto">Monto</label>
                            <input type="number" class="form-control" id="nombreCompleto" 
                                @bind-value="request.Monto" readonly />
                        </div>
                        <div class="form-group">
                            <label for="nombreCompleto">Monto Cuadrado</label>
                            <input type="number" class="form-control" id="nombreCompleto" 
                                @bind-value="request.MontoCuadrado" required />
                        </div>

                    </div>
                    <div class="card-footer bg-dark text-white">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-secondary" @onclick="Clear">Borrar</button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="oi oi-dollar oi mr-2"></span>
                        <strong>Dinero en caja</strong>
                    </h5>
                    <p class="card-text">Monto: $@DineroEnCaja.ToString("N2")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead style="background-image: linear-gradient(180deg, rgb(0, 29, 82) 0%, rgb(0, 0, 0) 70%); color: #ffffff;">
                <tr>
                    <th>Fecha</th>
                    <th>Cajero</th>
                    <th>Monto</th>
                    <th>Monto/Cuadrado</th>
                    <th>Resultado</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Cajas)
                {
                    <tr>
                        <td>@item.Fecha.ToShortDateString()</td>
                        <td>@item.Cajero</td>
                        <td>$@item.Monto.ToString("N2")</td>
                        <td>$@item.MontoCuadrado.ToString("N2")</td>
                        <td class="bg-danger text-dark">
                            
                            <strong>@($"${(item.MontoCuadrado - item.Monto):N2}")</strong>

                        </td>
                        <td>
                            <button @onclick="()=>Seleccionar(item.Id)"
                                class="btn btn-outline-warning">
                                <span class="oi oi-pencil"></span>
                            </button>
                            <button @onclick="()=>Eliminar(item)"
                                class="btn btn-outline-danger">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code
{
    public List<FacturaResponse> Facturas { get; set; } = new();
    public List<PagoResponse> Pagos { get; set; } = new();
    public List<CuadrarCajaResponse> Cajas { get; set; } = new();
    public CuadrarCajaRequest request { get; set; } = new();
    public string Filtro { get; set; } = "";
    public string Cashier { get; set; } = "";
    public decimal DineroEnCaja = 0;


    DateTime ultimoCuadreFecha;
    void CashInBox()
    {
        // Filtrar las facturas y pagos posteriores al último cuadre de caja
        var facturasPosteriores = Facturas.Where(f => f.Fecha > ultimoCuadreFecha);
        var pagosPosteriores = Pagos.Where(p => p.Fecha > ultimoCuadreFecha);

        // Calcular el monto en caja sumando las facturas y los pagos posteriores al último cuadre
        var Contado = facturasPosteriores
            .Where(c => c.TypePayment == "1" || c.SaldoPendiente == 0)
            .Sum(c => c.SubTotal);

        var Credito = facturasPosteriores
            .Where(c => c.TypePayment == "2" && c.SaldoPendiente > 0)
            .Sum(c => c.SaldoPendiente);

        var Pago = (decimal)pagosPosteriores
            .Sum(c => c.MontoPagado);

        DineroEnCaja = Contado + Pago;
        request.Monto = DineroEnCaja;
    }

    async Task Consultar()
    {
        var resultado = await facturaServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Facturas = resultado.Data?.OrderByDescending(f => f.Fecha).ToList() ?? new List<FacturaResponse>();
        }
        StateHasChanged();
    }
    async Task CargarPagos()
    {
        var resultado =
        await pagoServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Pagos = resultado.Data!;
        }
    }
    async Task CargarCajas()
    {
        var resultado =
        await cuadrarCajaServices.Consultar(Filtro);
        if (resultado.Success)
        {
            Cajas = resultado.Data!;
        }

        // Verificar si hay algún cuadre de caja en la lista
        if (Cajas.Any())
        {
            // Ordenar la lista de Cajas por fecha en orden descendente
            Cajas = Cajas.OrderByDescending(c => c.Fecha).ToList();
            
            // Tomar la fecha del primer elemento de la lista (el más reciente)
            ultimoCuadreFecha = Cajas.First().Fecha;
        }
        else
        {
          ultimoCuadreFecha = DateTime.Today;  
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await Consultar();
        await CargarPagos();
        await CargarCajas();
        CashInBox();
        
    }

    void Clear()
    {
        request  = new CuadrarCajaRequest();
    }
    
    public async Task Send()
    {
        request.Fecha = DateTime.Now; // Establecer la fecha actual
        if(request.Id == 0)
        {
            //Debo registrar el contacto..
            var r = await cuadrarCajaServices.Crear(request);
            if (r.Success)
            {
                Clear();
                await CargarCajas();
                CashInBox();
                StateHasChanged();
            }
        }
        else
        {
            //Debo solicitar modificar el contacto...
            var r = await cuadrarCajaServices.Modificar(request);
            if (r.Success)
            {
                Clear();
                await CargarCajas();
                CashInBox();
                StateHasChanged();
            }
        }
    }
    public void Seleccionar(int Id)
    {
        request = Cajas
        .Where(c => c.Id == Id)
        .Select(c => c.ToRequest())
        .FirstOrDefault() ?? new CuadrarCajaRequest();
    }
    public async Task Eliminar(CuadrarCajaResponse item)
    {
        var resultado = await cuadrarCajaServices.Eliminar(item.ToRequest());
        if (resultado.Success)
        {
            await CargarCajas();
            StateHasChanged();
        }
    }
}