@inherits LayoutComponentBase
@using System.Security.Claims

<PageTitle>FactuSystem</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar d-print-none" style="background-color: darkblue;">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <AuthorizeView>
                <Authorized>
                    <div class="top-row px-4 d-print-none">
                        <a class="nav-link active text-link" target="_blank">
                            <strong>@context.User.FindFirstValue(ClaimTypes.GivenName)</strong>
                        </a>
                        <a href="about" class="d-print-none">
                            <span class="oi oi-info"></span>
                            About
                        </a>
                    </div>
                </Authorized>
            </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
