@using FactuSystem.Authentication;
@inject AuthenticationStateProvider authStateProvider

<div class=" d-flex flex-column" style="min-height: 100vh;">
    <div class="top-row ps-3 navbar navbar-dark" style="background-image: linear-gradient(180deg, rgb(0, 29, 82) 0%, rgb(0, 0, 0) 70%);">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Yoja's Drinks & Heladería</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="flex-grow-1">
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column" >
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="inicio" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                @*<div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>*@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="cliente">
                        <span class="oi oi-people" aria-hidden="true"></span> Clientes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="producto">
                        <span class="oi oi-basket" aria-hidden="true"></span> Productos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="proveedor">
                        <span class="oi oi-people" aria-hidden="true"></span> Proveedores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <div class="dropdown">
                        <NavLink class="nav-link" @onclick="ToggleDropdown">
                            <span class="oi oi-spreadsheet " aria-hidden="true"></span> <strong>Factura</strong>
                        </NavLink>
                        @if (showDropdown)
                        {
                            <div class="dropdown-content">
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" @onclick="Vender">
                                        <span class="oi oi-document " aria-hidden="true">
                                        </span> Vender
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" @onclick="Pagas">
                                        <span class="oi oi-dollar" aria-hidden="true"></span> Facturas/Contado
                                    </NavLink>
                                </div>
                                <div class="nav-item px-3">
                                    <NavLink class="nav-link" @onclick="Cobrar">
                                        <span class="oi oi-credit-card " aria-hidden="true"></span> Facturas/Crédito
                                    </NavLink>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                
            </nav>
        </div>
    </div>

    <div class="mt-auto">
        <!-- Opción Log Out aquí -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
            </NavLink>
        </div>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }

    void Vender()
    {
        urlHelper.NavigateTo("factura/vender");
    }
    void Pagas()
    {
        urlHelper.NavigateTo("factura/paga");
    }
    void Cobrar()
    {
        urlHelper.NavigateTo("factura/cobrar");
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        urlHelper.NavigateTo("/", true);
    }
}
